div {

    background-color: blue;
    opacity: 0;
    height: 400px;
    width: 400px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

body{
    background-color: rgb(121, 73, 255);
}

body:hover div{
    background-color: rgb(34, 255, 63);
    margin-left: 50vw;
    margin-top: 50vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%,  -50%);
    opacity: 1;
    transform: scale (1.05);
    box-shadow:rgb(250, 72, 197);
    rotate: 360deg;
    border-radius: 500px;
}


p{
    transition: all 2s;
}

@media screen and (min-width: 500px)
{
    .div{
        background-color:pink;
    }
    
}